.candidate-grid {
    display: flex;
    justify-content: space-between;
}

.candidate-column {
    flex: 1; /* Each column will take equal width */
}

.candidate-item {
    display: flex;
    align-items: center;
}

/* Make the grid responsive on smaller screens */
@media (max-width: 1024px) {
    .candidate-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .candidate-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}