.candidate-grid {
    display: flex;
    justify-content: space-between;
}

.candidate-column {
    flex: 1; /* Each column will take equal width */
}

.candidate-item {
    display: flex;
    align-items: center;
}

.highlighted-page {
    background-color: rgba(0, 0, 0, 0.2); /* semi-transparent black */
    transition: background-color 1s ease;
}

.default {
    background-color: white;
    color: black;
    transition: background-color 1s ease;
}